---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Article from "~/components/Article.astro";

// Images
---

<Layout>
  <Section class:list={"bg-white"}>
    <Article>
      <h2>Tentang Bakpia 3 Generasi</h2>
      <p>
        Bakpia, camilan berbentuk bulat pipih dengan kulit renyah dan isian
        beragam, hadir dalam empat varian rasa yang menggugah selera. Varian
        abon menawarkan sensasi gurih dan pedas yang unik, berbeda dari bakpia
        manis pada umumnya. Bagi pencinta keju, varian keju menyajikan perpaduan
        manis dan gurih yang lembut. Varian coklat almond memanjakan lidah
        dengan rasa coklat yang kaya dan tekstur renyah dari potongan almond.
        Sementara itu, varian kacang hijau tetap menjadi favorit klasik dengan
        tekstur lembut dan rasa manis yang pas. Keempat varian ini memberikan
        pilihan rasa yang beragam, cocok untuk berbagai selera.
      </p>

      <!-- <h3>Our Story</h3>
      <p>
        Founded in <em>1998</em>, our family-owned restaurant has always been a
        labor of love. Inspired by the recipes passed down through generations,
        we bring the <u>rich culinary heritage</u> of Italy to your plate. Every
        dish tells a story, and every meal is a celebration of flavor.
      </p>

      <h3>Our Philosophy</h3>
      <blockquote>"The secret ingredient is always love."</blockquote>
      <p>
        At AstroPie, we believe in the simple joy of fresh ingredients,
        time-honored techniques, and a passion for creating memorable meals.
        From our hand-rolled pasta to our wood-fired pizzas, every bite is
        crafted with care.
      </p> -->

      <h4>Keunggulan Bakpia 3 Generasi?</h4>
      <ul>
        <li>
          <strong>Bahan-bahan fresh:</strong> Bahan baku yang fresh memberikan kualitas produk bakpia yang paling bagus
        </li>
        <li>
          <strong>Berbagai Varian Rasa</strong> Varian-varian rasa baru yang kami hadirkan menambah citarasa bakpia khas jogja
        </li>
        <!-- <li>
          <strong>Warm Atmosphere:</strong> A place where everyone feels like family.
        </li> -->
      </ul>

      <!-- <h3>Join Us</h3>
      <p>
        Whether you're celebrating a special occasion or simply indulging in the
        pleasures of Italian cuisine, <strong>AstroPie</strong> is the perfect destination.
        <em>Come for the food, stay for the memories.</em>
      </p> -->
    </Article>
  </Section>
</Layout>
